<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAjvEu41LB3MLQKHC19iQaQff-rmgsgGfY</string>
	<key>GCM_SENDER_ID</key>
	<string>999365946215</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tribzyco</string>
	<key>PROJECT_ID</key>
	<string>tribzyco-dd55c</string>
	<key>STORAGE_BUCKET</key>
	<string>tribzyco-dd55c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:999365946215:ios:c252f6a9983e32e27a1dc2</string>
</dict>
</plist>